# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/sainikshetkari/reportbackend.sainikshetkari.org"
PassengerBaseURI "/"
PassengerNodejs "/home/sainikshetkari/nodevenv/reportbackend.sainikshetkari.org/22/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv DB_HOST localhost
SetEnv DB_NAME sainikshetkari_reporting
SetEnv DB_PORT 3306
SetEnv PORT 5000
SetEnv DB_PASSWORD ashish@99
SetEnv DB_USER sainikshetkari_report_admin
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END